/* Базовый сброс браузерных стилей и установка 100% высоты для sticky footer */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Важно, чтобы padding и border не увеличивали размер элементов */
}

/* Стандартные шрифты для кода */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}